{% extends "base.html" %}
{% load humanize %}
{% load tz %}

{% block title %}Day Summaries for {{ year|date:"Y" }}{% endblock %}

{% block content %}
<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1>Available Day Summaries for {{ year|date:"Y" }}</h1>
    </div>
    <p>Day summaries give a high level look at the output of Bluesky in a particular day.</p>
    <p>Here is a listing of all months which have day summaries in {{ year|date:"Y" }}.</p>
  </div>
</div>

<div class="row">
  <div class="span12">
    <ul>
      {% localtime off %}
        {% for month in date_list %}
          <li><a href="{% url 'mongo_status:day_summaries_month' month.year month.month %}">{{ month|date:"M, Y" }}</a></li>
        {% endfor %}
      {% endlocaltime %}
    </ul>
  </div>
</div>
{% endblock content %}
