{% extends "base.html" %}
{% load humanize %}
{% load tz %}

{% block title %}Available Day Summaries{% endblock %}

{% block content %}
<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1>Available Day Summaries</h1>
    </div>
    <p>Day summaries give a high level look at the output of Bluesky in a particular day.</p>
  </div>
</div>

<div class="row">
  <div class="span12">
    <ul>
      {% localtime off %}
        {% for year in date_list %}
          <li><a href="{% url 'mongo_status:day_summaries_year' year.year %}">{{ year|date:"Y" }}</a></li>
        {% endfor %}
      {% endlocaltime %}
    </ul>
  </div>
</div>

<div class="row">
  <div class="span12">
    <ul>
      {% for day_summary in day_summaries %}
        <li><a href="{% url 'mongo_status:day_summary' day_summary.day.year day_summary.day.month day_summary.day.day %}">{{ day_summary.day|date:"l F jS, Y" }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock content %}
