{% extends "base.html" %}
{% block title %}Mongo Status{% endblock %}

{% block content %}
  <div class="row">
    <div class="span12">
      <form class="form-search text-center" action="{% url 'mongo_status:get_status' %}" method="get">
        <input class="search-query span4" type="text" name="assetId" id="assetId" placeholder="Enter the iStock id you are interested in">
        <input type="submit" value="Search" class="btn btn-primary" />
      </form>
    </div>
  </div>

  {% comment %} Some #'s regarding the system status {% endcomment %}
  {% include 'mongo_status/snippets/status_snippet.html' %}

  {% if asset %}
    <div class="row">
      <div class="span12">
        <h1>Attributes of Note</h1>
          <div class="well">
            {% comment %} Current Asset Status {% endcomment %}
            {% if status_snippet %}
              {% include status_snippet %}
            {% else %}
              <p>Unknown Asset Status: &quot;{{ asset.partnerData.getty.status }}&quot;</p>
            {% endif %}

            {% comment %} Getty ID {% endcomment %}
            {% if asset.partnerData.getty.partnerId %}
              <p>The <strong><abbr title="Also known as the 'Master ID' to those from Getty.">Getty Id</abbr></strong> for this file: {{ asset.partnerData.getty.partnerId }}</p>
            {% endif %}

            {% comment %} Is this file in the partner program? {% endcomment %}
            {% if is_partner_program %}
              <p>This asset is <strong>in</strong> the <strong>Partner Program</strong>.</p>
            {% else %}
              <p>This asset is <strong>not</strong> in the <strong>Partner Program</strong>.</p>
            {% endif %}

            {% comment %} Files migrated manually {% endcomment %}
            {% if asset.partnerData.getty.legacyMigration %}
              <p>This is a <strong class="text-legacy-migration"><abbr title="Legacy migrated files have already been transferred to Getty outside of Bluesky.">Legacy Migration</abbr></strong> file.</p>
            {% endif %}

            {% comment %} Specially chosen illustrations {% endcomment %}
            {% if asset.partnerData.getty.handSelected %}
              <p>This is a <strong class="text-hand-selected"><abbr title="Files chosen individually by an employee of iStock.">Hand Selected</abbr></strong> file.</p>
            {% endif %}

            {% comment %} 'Frozen' Files currently being migrated {% endcomment %}
            {% if asset.partnerData.getty.migrated %}
              <p>This is a <strong class="text-currently-migrating"><abbr title="These files are in the process of being migrated. Normal Bluesky flow is halted.">migrating</abbr></strong> file.</p>
            {% endif %}

            {% comment %} Is this guy going to be deactivated? {% endcomment %}
            {% if asset.isMarkedForPull %}
              <p>This file is marked for <strong class="text-delete">deactivation!</strong></p>
            {% endif %}

            {% comment %} A reasonable guess of what the last desired operation on this assets was. {% endcomment %}

            <p>The last operation attempted on this file was a(n)
            {% if asset.priority  < 4 %}
              <span class="text-update">update</span> request.</p>
            {% elif asset.priority < 14 %}
              <span class="text-new">new </span>asset request.</p>
            {% elif asset.priority < 44 %}
              <span class="text-special"><abbr title="'Special' assets have been assinged a non-standard priority to make them go out faster than everything other than deletes.">'special'</abbr></span> request.</p>
            {% elif asset.priority < 54 %}
              <span class="text-delete">delete</span> request.</p>
            {% endif %}
          </div>
      </div>
    </div>

    <h1>Raw Mongo Asset</h1>
    <pre>{{ pretty_asset }}</pre>

  {% elif query_value %}
    <p>Couldn't find record for &quot;{{ query_value }}&quot;</p>

  {% endif %}
{% endblock %}
