# Edit this file to introduce tasks to be run by cron.
#
# Each task to run has to be defined through a single line
# indicating with different fields when the task will be run
# and what command to run for the task
#
# To define the time you can provide concrete values for
# minute (m), hour (h), day of month (dom), month (mon),
# and day of week (dow) or use '*' in these fields (for 'any').#
# Notice that tasks will be started based on the cron's system
# daemon's notion of time and timezones.
#
# Output of the crontab jobs (including errors) is sent through
# email to the user the crontab file belongs to (unless redirected).
#
# For example, you can run a backup of all your user accounts
# at 5 a.m every week with:
# 0 5 * * 1 tar -zcf /var/backups/home.tgz /home/
#
# For more information see the manual pages of crontab(5) and cron(8)
#
# m h  dom mon dow   command
# dev
7 * * * *  /home/deifante/Projects/Bluesky_Status/manage.py update_detailed_stats -o 10.2.241.213 pending
18 * * * * /home/deifante/Projects/Bluesky_Status/manage.py update_detailed_stats -o 10.2.241.213 processing
30 * * * * /home/deifante/Projects/Bluesky_Status/manage.py update_detailed_stats -o 10.2.241.213 error
48 * * * * /home/deifante/Projects/Bluesky_Status/manage.py update_detailed_stats -o 10.2.241.213 complete
#
3 * * * *  /home/deifante/Projects/Bluesky_Status/manage.py update_stats -o 10.2.241.213
12 * * * * /home/deifante/Projects/Bluesky_Status/manage.py update_stats -o 10.2.241.213
33 * * * * /home/deifante/Projects/Bluesky_Status/manage.py update_stats -o 10.2.241.213
40 * * * * /home/deifante/Projects/Bluesky_Status/manage.py update_stats -o 10.2.241.213
#
9 * * * *  /home/deifante/Projects/Bluesky_Status/manage.py update_basic_stats -o 10.2.241.213
10 * * * * /home/deifante/Projects/Bluesky_Status/manage.py update_basic_stats -o 10.2.241.213
31 * * * * /home/deifante/Projects/Bluesky_Status/manage.py update_basic_stats -o 10.2.241.213
46 * * * * /home/deifante/Projects/Bluesky_Status/manage.py update_basic_stats -o 10.2.241.213
#
1 1 * * *  /home/deifante/Projects/Bluesky_Status/manage.py make_day_summary yesterday -o localhost -u admin -p changeme
13 1 * * *  /home/deifante/Projects/Bluesky_Status/manage.py make_sent_assets_summary yesterday -o localhost -u admin -p changeme
# live
2 * * * *  /home/deifante/Projects/Bluesky_Status/manage.py update_detailed_stats -o 10.2.106.180 pending
15 * * * * /home/deifante/Projects/Bluesky_Status/manage.py update_detailed_stats -o 10.2.106.180 processing
27 * * * * /home/deifante/Projects/Bluesky_Status/manage.py update_detailed_stats -o 10.2.106.180 error
53 * * * * /home/deifante/Projects/Bluesky_Status/manage.py update_detailed_stats -o 10.2.106.180 complete
#
6 * * * *  /home/deifante/Projects/Bluesky_Status/manage.py update_stats -o 10.2.106.180
19 * * * * /home/deifante/Projects/Bluesky_Status/manage.py update_stats -o 10.2.106.180
36 * * * * /home/deifante/Projects/Bluesky_Status/manage.py update_stats -o 10.2.106.180
50 * * * * /home/deifante/Projects/Bluesky_Status/manage.py update_stats -o 10.2.106.180
#
5 * * * *  /home/deifante/Projects/Bluesky_Status/manage.py update_basic_stats -o 10.2.106.180
18 * * * * /home/deifante/Projects/Bluesky_Status/manage.py update_basic_stats -o 10.2.106.180
35 * * * * /home/deifante/Projects/Bluesky_Status/manage.py update_basic_stats -o 10.2.106.180
48 * * * * /home/deifante/Projects/Bluesky_Status/manage.py update_basic_stats -o 10.2.106.180
#
1 0 * * *  /home/deifante/Projects/Bluesky_Status/manage.py make_day_summary yesterday -o cf-splunk-indexer1.istockphoto.com
13 2 * * * /home/deifante/Projects/Bluesky_Status/manage.py make_sent_assets_summary yesterday -o cf-splunk-indexer1.istockphoto.com
