.text-pending
{
  color:#3498db;
}
.text-complete
{
  color:#2ecc71;
}

/* The logical overlap here (web error vs bluesky error) is small enough to ignore */
.text-error
{
  color:#e74c3c;
}
.text-processing
{
  color:#F39C12;
}
.text-undetermined
{
  color:#7F8C8D;
}
/* Detailed status colours */
.text-update, .text-action-sent-uri
{
  color:#1ABC9C;
}
.text-new, .text-action-received-success
{
  color:#2ECC71;
}
.text-delete, .text-action-received-error
{
  color:#E74C3C;
}
.text-special, .text-action-sent-metadata-by-id
{
  color:#9B59B6;
}
.text-legacy-migration, .text-action-sent-metadata
{
  color:#E67E22;
}
.text-currently-migrating, .text-action-sent-asset
{
  color:#F1C40F;
}
.text-hand-selected, .text-action-queued
{
  color:#3498DB;
}
.card
{
   min-height:105px;
   padding:15px;
   color:#ffffff;
   margin:10px;
}

.section-ender
{
  margin-bottom:150px;
}
#daySummaryImageLink
{
  max-height:50px;
  max-width:50px;
}
#daySummaryLinks
{
  margin-top:7px;
}